h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.icon-big {
  font-size: 22px;
}

.icon-small {
  font-size: 18px;
}

.headline-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-show-image {
  width: 100%;
}
