.headline-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 10px;
  padding-bottom: 3px;
  align-items: center;
  // height: auto;
  .left {
    min-width: 22px;
  }
  .middle {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    text-align: center;
    // padding-left: 10px;
    // padding-right: 10px;
  }
  .rigth {
    min-width: 22px;
  }
}
h1 {
  font-size: 30px;
  color: #184d47;
}

h2 {
  font-size: 25px;
  color: #184d47;
}
h3 {
  font-size: 18px;
  color: #184d47;
}

.p {
  font-size: 16px;
}
