
.userprofile-avatar {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
  //     align-items: center;
  .middle {
    position: absolute;
    left: 63%;
    top: 15px;
    font-size: 16px;
    color: $dark-green;
    // transform: translateX(-50%);
  }
  .avatar-img {
    object-fit: cover;
  }
}
