.event-show-image {
  max-width: 100%;
  min-width: calc(100vw - 30px);
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px; 
  
}
.headline-flexbox {
  padding: 10px;
}


// .events-scrollable {

//   overflow-y: auto;
//   -ms-overflow-style: none;
//   scrollbar-width: none;
// }
// .events-scrollable::-webkit-scrollbar {
//   display: none;
// }
