.user_bio {
    height: auto;
    background: #abb9b6;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0 10px 0;
    border-radius: 13px;
    position: relative;
    padding: 15px;
  }
