<div class="container">
  <h1>My chats</h1>
  <div>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom), class: "card-chat-link" do %>
        <div class="card-chat-user">
          <h4> <%= chatroom.name %> </h4>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
