<div class="nav-flexbox">
  <div class="text-center pl-2 pr-2">
    <%= link_to main_path, class: "nav-link" do %>
      <i class="fas fa-home nav-icon"></i>
    <% end %>
  </div>

  <div class="text-center pr-2">
    <%= link_to bookings_path, class: "nav-link" do %>
      <i class="fas fa-calendar-day nav-icon"></i>
    <% end %>
  </div>

  <div class="text-center">
    <%= link_to main_path, class: "nav-link" do %>
      <i class="fas fa-user-friends nav-icon"></i>
    <% end %>
  </div>

  <div class="text-center pr-2">
    <%= link_to chatrooms_path, class: "nav-link" do %>
      <i class="fas fa-comments nav-icon"></i>
    <% end %>
  </div>
</div>
