<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-ul">
      <li class="nav-item navbar-li">
        <div class="text-center m-4 pl-4">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="far fa-calendar-alt navbar-icon"></i>
          <% end %>
          <p class="nav-link navbar-font"><strong>Events</strong></p>
        </div>
      </li>
      <li class="nav-item navbar-li">
        <div class="text-center m-4 pr-4 pl-4">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-user-friends navbar-icon"></i>
          <% end %>
          <p class="nav-link navbar-font"><strong>ParentFriends</strong></p>
        </div>
      </li>
      <li class="nav-item navbar-li">
        <div class="text-center m-4 pr-4">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="far fa-comment-alt navbar-icon"></i>
          <% end %>
          <p class="nav-link navbar-font"><strong>Chat</strong></p>
        </div>
      </li>
    </ul>
  </div>
</div>
