<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <i class="far fa-calendar-alt navbar-icon"></i>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <i class="fas fa-user-friends navbar-icon"></i>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <i class="far fa-comment-alt navbar-icon"></i>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
