<div class="card-popup card-popup-event">
    <div class="card-event-icons-div text-left pl-4">
        <p>
          <strong>
            <%=  link_to event_path(event), class: "text-decoration-none" do %>
              <%= event.name %>
            <% end %>
          </strong>
        </p>
    </div>
    <div class="container">
        <p class= "text-left scrollable scrollable::-webkit-scrollbar"><%= event.description %></p>
    </div>
</div>
