<div class="container-second"></div>
  <div class="container-first">
     <div class="headline">Find a Parent Friend</div>
      <div class= "button">
      <% if user_signed_in? %>
       <%= link_to 'Home', main_path, class: "btn-prim-black w-100" %>
      <% else %>

      <%= link_to 'Sign Up', new_user_registration_path, class: "btn-prim-black w-100 mr-1" %>

       <%= link_to 'Login', user_session_path, class: "btn-prim-white w-100 ml-1" %>

      <% end %>
      </div>
    </div>


