 <div class="container-first">
   <div class= "center">Find a Parent Friend
   </div>
    <div class= "login-logout">
     <div class= "button">
     <% if user_signed_in? %>
      <%= link_to 'HOME', user_session_path, class: "btn-prim-white" %>
     <% else %>
      <%= link_to 'Login', user_session_path, class: "btn-prim-white" %>
    
      <%= link_to 'Sign Up', new_user_session_path, class: "btn-prim-black" %>
      <% end %>
      </div>
    </div>
 </div>
