<h1>ParentFriends Around Me</h1>
<div class="container">
<%= form_for :user, html: { id: "geo-form"} do |f| %>
    <%= f.submit "Where am I?" %>
<% end %>
</div>
<hr>
<div class="container">
  <div id="map" style="height: 300px; width: 600px"></div>
</div>