<h1>ParentFriends Around Me</h1>
<div class="container">
  <form action="#" id="geo-form">
    <input type="submit" value="Where am I?" class="inp-submit">
  </form>
</div>
<hr>
<div class="container">
  <div id="map" style="height: 300px; width: 600px"></div>
</div>