<div class="container text-center mt-2">
  <div class="headline-nav">
    <div class="left">
    </div>
    <div class="middle">
      <h2>Parent Friend</h2>
    </div>
    <div class="right">
      <%= link_to edit_user_registration_path(@user), class: "icon-links" do %>
        <i class="fas fa-cog"></i>
      <% end %>
    </div>
  </div>
</div>
<img src="https://images.pexels.com/photos/1620653/pexels-photo-1620653.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Family Activities" style="width: 100%; height: 400px; object-fit: cover">
<div class="container">
  <div class= "new events">
    <br>
    <br>
    <%= link_to 'join an event', events_path, class: "btn-prim-white w-100" %>
    <br>
    <br>

    <%= link_to 'create an event', new_event_path, class: "btn-prim-white w-100" %>
    <br>
    <br>
    <%= link_to 'spontaneously meet parents', meet_path, class: "btn-prim-white w-100" %>
  </div>
</div>
