<h3>ParentFriends Around Me</h3>
<hr>
<%#= content_tag :div, data: {users: @users} do %>
<%# end %>
<div class="container">
    <div id="mapUsers"
        style="width: 100%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
