.btn-prim-black {
  text-align: center;
  display: inline-block;
  background-color: #184d47;
  border-radius: 12px;
  padding: 4px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  &:hover {

    background-color:#184d47;
    opacity: 70%;
    transition: 0.4s;
    text-decoration: none;
    color: white;
  }
}
.btn-prim-white {
  text-align: center;
  display: inline-block;
  background-color:white;
  padding: 4px 20px;
  color: #184d47;
  border-radius: 12px;
  border-style: solid;
  border-width: .5px;
  border-color: #184d47;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  &:hover {

    background-color: #184d47;
    color: white;
    transition: 0.4s;
    text-decoration: none;
  }
}
