.card-event {
    overflow: hidden;
    height: 80px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    border-radius: 13px;
    position: relative;
  }
  
  .card-event img {
    height: 100%;
    width: 90px;
    object-fit: cover;
  }
  
  .card-event h2 {
    font-size: 16px;
    height: 18px;
    font-weight: bold;
    overflow: hidden;
  }
  
  .card-event p {
    font-size: 12px;
    line-height: 12px;
    opacity: .7;
    margin-top: 0px;
    height: 32px;
  }
  
  .card-event .card-event-infos {
    padding: 16px;
  }

  .card-event-star {
    position: absolute;
    right: 9px;
    top: 3px;
    box-shadow: none;
  }

  .card-event-chat {
    position: absolute;
    right: 32px;
    top: 3px;
    box-shadow: none;
  }

  .card-event-link {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
  }

  .events-scrollable {
    height: 240px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .events-scrollable::-webkit-scrollbar {
    display: none;
  }

  .card-event-h2-div {
    padding-top: 16px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .card-event-p-div {
    padding-top: 0px;
    margin-top: 0px;
    overflow: hidden;
    margin-bottom: 16px;
    padding-bottom: 16px;
    height: 24px;
  }

  .card-event-icons-div {
    display: flex;
    padding-top: 6px;
  }
  