.card-chat-user {
    overflow: hidden;
    height: 80px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    border-radius: 13px;
    position: relative;
    //     background-color: white;
    // padding: 5px;
    // border-radius: 20px;
  }
