.messages-scrollable {
  flex-grow: 1;
  // max-height: 550px;
  overflow-y: auto;
}

.messages-scrollable::-webkit-scrollbar {
    display: none;
  }

.card-chat-user {
    overflow: hidden;
    height: 80px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    border-radius: 13px;
    position: relative;
  }

.card-chat-link {
  text-decoration: none;
  color: black;
  &:hover {
      text-decoration: none;
      color: black;
  }
}
