.chat-head {
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: calc(15px + 2vw);

  h2 {
    margin: 0 0 0 10px;
  }
}

.chat-flexbox {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 154px);
}

.message-container {
  padding: 5px 13px 0px;
  border-radius: 13px;
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width:86%;
  margin-left: 2vw;
  .author span {
    font-weight: bold;
    color:#184d47;
  }
  .author small {
    font-weight: bold;
    color:grey;
  }
}

.my-message {
  margin-left: 11vw;
  .author span {
    font-weight: bold;
    color:#b8711f;
  }
}

.new_message {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 16px;

  // .form-control {
  //   flex-grow: 1;
  // }

  .message_content {
    margin: 0;
  }

  .btn {
    margin-right: 2vw;
  }

}

#message_content {
  border-radius: 13px;
  margin-left: 2vw;
}
