.form {
  margin: 13px;

  form-group {
    margin-bottom: 8px;
  }

  h2, p {
  text-align: center;
  }

  label, a {
  font-size: 12px;
  margin-bottom: 4px;
  margin-left: 12px;
  }

  input, select {
    font-size: 14px;
    border-radius: 13px;
  }

  textarea {
    height: 96px;
    font-size: 14px;
    border-radius: 13px;
  }

  .btn {
    width: 100%;
    margin-top: 12px;
  }


}
