.icon-links {
  text-decoration: none;
  color: $dark-green;
  opacity: 1;
  &:hover {
    color: $dark-green;
    opacity: 0.7;
  }
}

.yellow-icon {
  color: $yellow;
}

.icon-big {
  font-size: 22px;
  color: $dark-green;
}

.icon-small {
  font-size: 18px;
}

.icon-booked {
  color: $light-orange;
}
