.mapboxgl-popup {
    max-width: 200px;
  }
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.events-map-display {
    width: 333px; 
    height: 320px;
}

.map-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.geocoder {
    font-size: 14px;
    border-radius: 33px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.mapboxgl-ctrl {
    border-radius: 13px;
    clear: both;
    pointer-events: auto;
    transform: translate(0);
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
    }
  .custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
    }
  .custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
    }
  .custom-popup .leaflet-popup-tip {
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #2c3e50;
    }