.nav-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c4c4c4;
  position: fixed;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-icon {
  font-size: 40px;
  color: black;
}

.nav-emptyspace {
  height: 80px;
}
