.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 300px;
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
  background-color: #CAD8E8;
  .navbar-icon {
    font-size: 120px;
  }
  .navbar-font {
    font-size: 48px;
  }
  .navbar-ul {
    display: flex !important; 
    align-items: stretch !important;
    justify-content: space-between !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .navbar-li {
    display: block !important;
    flex: 0 1 auto !important;
    list-style-type: none !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex !important; 
  align-items: stretch !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
