.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 240px;
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
  background-color: #CAD8E8;
  .navbar-icon {
    font-size: 120px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
